# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [735]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [736]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

          city           date   fare       ride_id  driver_count      type
0     Liumouth  01-01-19 0:08  37.91  5.673670e+12            69     Urban
1  Colemanland  01-01-19 0:46  47.74  2.215910e+12            23  Suburban
2    Sotoville  01-01-19 2:07  24.07  7.827430e+12            10  Suburban
3      Royland  01-01-19 3:46   7.57  5.815380e+12            64     Urban
4   West Heidi  01-01-19 5:23  10.75  6.571510e+12            28     Urban

## Deliverable 1: Get a Summary DataFrame

In [737]:
#  1. Get the total rides for each city type
total_rides = pyber_data_df.groupby(["type"]).count()["ride_id"]

In [738]:
# 2. Get the total drivers for each city type
total_drivers = city_data_df.groupby(["type"]).sum()["driver_count"]

In [739]:
#  3. Get the total amount of fares for each city type
total_fare = pyber_data_df.groupby(["type"]).sum()["fare"]

In [740]:
#  4. Get the average fare per ride for each city type. 
avg_fare = total_fare / total_rides

In [741]:
# 5. Get the average fare per driver for each city type. 
avg_fare_per_driver = total_fare / total_drivers

In [742]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame({
    "Total Rides": total_rides,
    "Total Drivers": total_drivers,
    "Total Fares": total_fare,
    "Average Fare per Ride": avg_fare,
    "Average Fare per Driver": avg_fare_per_driver
})

In [743]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [744]:
#  8. Format the columns.
pyber_summary_df["Total Rides"] = pyber_summary_df["Total Rides"].map("{:,}".format)
pyber_summary_df["Total Drivers"] = pyber_summary_df["Total Drivers"].map("{:,}".format)
pyber_summary_df["Total Fares"] = pyber_summary_df["Total Fares"].map("${:,.2f}".format)
pyber_summary_df["Average Fare per Ride"] = pyber_summary_df["Average Fare per Ride"].map("${:,.2f}".format)
pyber_summary_df["Average Fare per Driver"] = pyber_summary_df["Average Fare per Driver"].map("${:,.2f}".format)

pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,"$4,327.93",$34.62,$55.49
Suburban,625,490,"$19,356.33",$30.97,$39.50
Urban,"1,625","2,405","$39,854.38",$24.53,$16.57

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [745]:
# 1. Read the merged DataFrame
pyber_data_df.head()

          city           date   fare       ride_id  driver_count      type
0     Liumouth  01-01-19 0:08  37.91  5.673670e+12            69     Urban
1  Colemanland  01-01-19 0:46  47.74  2.215910e+12            23  Suburban
2    Sotoville  01-01-19 2:07  24.07  7.827430e+12            10  Suburban
3      Royland  01-01-19 3:46   7.57  5.815380e+12            64     Urban
4   West Heidi  01-01-19 5:23  10.75  6.571510e+12            28     Urban

In [746]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
df = pd.DataFrame(pyber_data_df.groupby(["date","type"]).sum()[["fare"]])

In [747]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
df = df.reset_index()

In [754]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
df.pivot(index = "date", columns = "type", values="fare")

type            Rural  Suburban  Urban
date
01-01-19 0:08     NaN       NaN  37.91
01-01-19 0:46     NaN     47.74    NaN
01-01-19 12:32    NaN     25.56    NaN
01-01-19 14:40    NaN       NaN   5.42
01-01-19 14:42    NaN       NaN  12.31
...               ...       ...    ...
31-03-19 15:22    NaN       NaN  30.77
31-03-19 17:01    NaN       NaN  36.29
31-03-19 2:08     NaN       NaN   4.65
31-03-19 3:35     NaN       NaN  21.24
31-03-19 6:05     NaN     44.24    NaN

[2361 rows x 3 columns]

In [756]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.
df_pivot = pd.DataFrame(df.pivot(index = "date", columns = "type", values="fare"))
df_pivot

type            Rural  Suburban  Urban
date
01-01-19 0:08     NaN       NaN  37.91
01-01-19 0:46     NaN     47.74    NaN
01-01-19 12:32    NaN     25.56    NaN
01-01-19 14:40    NaN       NaN   5.42
01-01-19 14:42    NaN       NaN  12.31
...               ...       ...    ...
31-03-19 15:22    NaN       NaN  30.77
31-03-19 17:01    NaN       NaN  36.29
31-03-19 2:08     NaN       NaN   4.65
31-03-19 3:35     NaN       NaN  21.24
31-03-19 6:05     NaN     44.24    NaN

[2361 rows x 3 columns]

In [750]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.

In [751]:
# 7. Check that the datatype for the index is datetime using df.info()

In [752]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [753]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')